body{
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}


.Let’s Design
color: white;
 font-size: 110px;
 font-family: Clash Display;
 font-weight: 700;
 line-height: 110px;
 letter-spacing: 2.20px;
 word-wrap: break-word
---
// Your Home
color: white;
 font-size: 110px;
 font-family: Clash Display;
 font-weight: 700;
 line-height: 110px;
 letter-spacing: 2.20px;
 word-wrap: break-word
---
// Very Easily
color: white;
 font-size: 110px;
 font-family: Clash Display;
 font-weight: 700;
 line-height: 110px;
 letter-spacing: 2.20px;
 word-wrap: break-word
---
// Interior design is the art of science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space.
color: white;
 font-size: 24px;
 font-family: Aeonik;
 font-weight: 400;
 line-height: 33.60px;
 word-wrap: break-word
---
// 400+
color: white;
 font-size: 56px;
 font-family: Aeonik;
 font-weight: 700;
 line-height: 60px;
 word-wrap: break-word
---
// Client
color: #AEAEAE;
 font-size: 20px;
 font-family: Aeonik;
 font-weight: 400;
 line-height: 20px;
 word-wrap: break-word
---
// 2.5k+
color: white;
 font-size: 56px;
 font-family: Aeonik;
 font-weight: 700;
 line-height: 60px;
 word-wrap: break-word
---
// Product
color: #AEAEAE;
 font-size: 20px;
 font-family: Aeonik;
 font-weight: 400;
 line-height: 20px;
 word-wrap: break-word
---
// 12+
color: white;
 font-size: 56px;
 font-family: Aeonik;
 font-weight: 700;
 line-height: 60px;
 word-wrap: break-word
---
// Year Experience
color: #AEAEAE;
 font-size: 20px;
 font-family: Aeonik;
 font-weight: 400;
 line-height: 20px;
 word-wrap: break-word